<h2 class="text-center fs-4">Today(UTC-Time): <%= m = DateTime.now.utc.strftime("%F") %></h2> </br>

<h3 class="text-center"> Upcoming Events </h3>
  <table class="table">
  <thead>
    <tr class="text-center">
      <th scope="col">Event Title</th>
      <th scope="col">Date</th>
      <th scope="col">Event Details</th>
    </tr>
  </thead>
<tbody>

  <% time2 = DateTime.now.utc %>
  <% current_user.attended_events.each do  |attended|%>
    <% time1 = attended.date.utc%>
    <% if time1 > time2 %>
   <tr class="text-center">
      <td class="table-success text-center"><h3>  <%= attended.title%></br> </h3></td>
      <td class="text-center"><p> event date: <%= attended.date.utc.strftime("%F")%></br></p> </br> </td>
      <td class="text-center"><%= link_to "The Event", event_path, class: "btn btn-info" %> </td>
    </tr>
        <% end %>
<% end %>



  <table class="table">
  <h3 class="text-center"> Past Events </h3>

  <thead>
    <tr class="text-center">
      <th scope="col">Event Title</th>
      <th scope="col">Date</th>
      <th scope="col">Event Details</th>
    </tr>
  </thead>
<tbody>

<% current_user.attended_events.each do  |attended|%>
    <% time1 = attended.date.utc%>
    <% if time1 <= time2 %>
  <tr class="text-center">
    <td class="text-center table-secondary "><h3> event title: <%= attended.title%></br> </h3> </td>
    <td class="text-center"><p> event date: <%= attended.date.utc.strftime("%F")%></br></p> </br> </td>
    <td class="text-center"><%= link_to "The Event", event_path, class: "btn btn-info" %> </td>
  </tr>
    <% end %>
<% end %>
  
  


