<p id="notice"><%= notice %></p>

      <p><%= @event.title %></p>
      <p><%= @event.description %></p>

      <tr>
      <% @event.attendee.each do |attendee| %>
      
      <td><%= attendee.email %></td>
      </tr>
    <% end %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
