<h2 class="d-flex justify-content-center m-4">Log in</h2>
<div class="d-flex justify-content-center m-4 border border-dark p-2 bg-light">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "mt-2 btn btn-success" %>
  </div>
<% end %>
</div>
<div class="d-flex justify-content-center m-4 p-2">
<%= render "devise/shared/links" %>
</div>
